build/*
bin/Debug/*
bin/Release/*

imgui.ini
compile_commands.json

.cache/*

.DS_Store
**/.DS_Store
**/**/.DS_Store
.DS_Store
assets/.DS_Store
assets/sprites/.DS_Store
src/.DS_Store
src/Motor/.DS_Store
